<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChamCong_v04.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="log.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <category name="testApp.LoggingExample">
      <priority value="ALL"/>
    </category>
  </log4net>

    <userSettings>
        <ChamCong_v04.Properties.Settings>
            <setting name="ConnectionStringPath" serializeAs="String">
                <value>Setting.txt</value>
            </setting>
            <setting name="LastAccLogIn" serializeAs="String">
                <value />
            </setting>
            <setting name="LastServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="LastEndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LastStartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSanLuong" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="LastDonGia" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="LastLuongToiThieu" serializeAs="String">
                <value>1150000</value>
            </setting>
            <setting name="LastBoiDuongCa3" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="LastTrichQuyLuong" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="LastDinhMucComTrua" serializeAs="String">
                <value>680000</value>
            </setting>
            <setting name="LastSanluongGiaCongNoibo" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="LastSanluongGiacongNgoai" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="LastDongiaGiacongNoibo" serializeAs="String">
                <value>2800</value>
            </setting>
            <setting name="LastDongiaGiacongNgoai" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="headerTCty" serializeAs="String">
                <value>TỔNG CÔNG TY CÔNG NGHIỆP SÀI GÒN</value>
            </setting>
            <setting name="headerTNHH" serializeAs="String">
                <value>TRÁCH NHIỆM HỮU HẠN MỘT THÀNH VIÊN</value>
            </setting>
            <setting name="headerNMTLKH" serializeAs="String">
                <value>NHÀ MÁY THUỐC LÁ KHÁNH HỘI</value>
            </setting>
            <setting name="headerDiachi" serializeAs="String">
                <value>Lô 26, đường số 3, KCN Tân Tạo, Quận Bình Tân, Thành phố Hồ Chí Minh</value>
            </setting>
            <setting name="headerPhone" serializeAs="String">
                <value>Tel: +848 37507282 - FAX: 37507784</value>
            </setting>
            <setting name="headerMailWEB" serializeAs="String">
                <value>Email: khanhhoi@khcig.com    Website: http://khcig.com</value>
            </setting>
            <setting name="headerTPHCMNgaythangnam" serializeAs="String">
                <value>Thành phố Hồ Chí Minh, ngày {0} tháng {1} năm {2}</value>
            </setting>
            <setting name="titleBangCC_THANG" serializeAs="String">
                <value>BẢNG CHẤM CÔNG THÁNG {0}</value>
            </setting>
            <setting name="titleBangLuongThang" serializeAs="String">
                <value>BẢNG LƯƠNG THÁNG {0}</value>
            </setting>
            <setting name="titleBangLuongCongNhat" serializeAs="String">
                <value>BẢNG THANH TOÁN LƯƠNG 
CÔNG NHÂN CÔNG NHẬT, THỜI VỤ (chuyển khoản) THÁNG {0}</value>
            </setting>
            <setting name="titleBangTongHopChiThang" serializeAs="String">
                <value>BẢNG TỔNG HỢP CÁC NGUỒN CHI TỪ QUỸ LƯƠNG THÁNG {0}</value>
            </setting>
            <setting name="LastTenNVLapBieuLuong" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTenPhoGD" serializeAs="String">
                <value>Trần Hồng Sơn</value>
            </setting>
            <setting name="LastTenTruongBP" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTenGD" serializeAs="String">
                <value>Lê Anh Tuấn</value>
            </setting>
            <setting name="LastTenKTT" serializeAs="String">
                <value>Nguyễn Quốc Thái</value>
            </setting>
            <setting name="LastTenNVLapBieuChamCong" serializeAs="String">
                <value />
            </setting>
            <setting name="numFormatMoney30" serializeAs="String">
                <value>###,###,###,###,###,##0.000;-###,###,###,###,###,##0.000;-?;</value>
            </setting>
            <setting name="numFormatFloat20" serializeAs="String">
                <value>###,###,##0.00;-###,###,##0.00;-?;</value>
            </setting>
            <setting name="numFormatFloat30" serializeAs="String">
                <value>###,###,##0.000;-###,###,##0.000;-?;</value>
            </setting>
            <setting name="numFormatFloat10" serializeAs="String">
                <value>###,###,##0.0;-###,###,##0.0;-?;</value>
            </setting>
            <setting name="numFormatFloat101F" serializeAs="String">
                <value>###,###,##0.0#;-###,###,##0.0#;-?;</value>
            </setting>
            <setting name="numFormatMoney" serializeAs="String">
                <value>###,###,###,###,###,##0;-###,###,###,###,###,##0;-?;</value>
            </setting>
            <setting name="numFormatInt" serializeAs="String">
                <value>###,###,###,###,##0;-###,###,###,###,##0;-?;</value>
            </setting>
            <setting name="testDateTimeDiemDanh" serializeAs="String">
                <value>01/06/2014 13:00:00</value>
            </setting>
            <setting name="pathReportChiTietLuong" serializeAs="String">
                <value>TemplateChiTietLuong.xlsx</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>TemplateTamUng_MucDongBHXH.xlsx</value>
            </setting>
            <setting name="shiftCodeCa8h" serializeAs="String">
                <value>Ca8h</value>
            </setting>
            <setting name="shiftCodeCa12h" serializeAs="String">
                <value>Ca12h</value>
            </setting>
            <setting name="shiftCodeCa4h" serializeAs="String">
                <value>Ca4h</value>
            </setting>
            <setting name="shiftCodeCa16h" serializeAs="String">
                <value>Ca16h</value>
            </setting>
            <setting name="shiftCodeCaTD8h" serializeAs="String">
                <value>CaTựDo</value>
            </setting>
            <setting name="kyHieuCCCa4h" serializeAs="String">
                <value>4g</value>
            </setting>
            <setting name="kyHieuCCCa8h" serializeAs="String">
                <value>8g</value>
            </setting>
            <setting name="kyHieuCCCa12h" serializeAs="String">
                <value>12g</value>
            </setting>
            <setting name="kyHieuCCCa16h" serializeAs="String">
                <value>16g</value>
            </setting>
            <setting name="kyHieuCCCaTD" serializeAs="String">
                <value>TD</value>
            </setting>
            <setting name="MoTaCaTuDo" serializeAs="String">
                <value>Tính công theo giờ làm (mức trần {0} giờ) bắt đầu từ lúc check vào </value>
            </setting>
            <setting name="sizeHeaderBKC_TCTCNSG" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="sizeTitleBKC" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="viTriOHeaderBKC_TCTCNSG" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="viTriOHeaderBKC_DiaChi" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="viTriOHeaderTitle" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="cachDongBKC_LapBieu_ten" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LastThangKetCong" serializeAs="String">
                <value />
            </setting>
        </ChamCong_v04.Properties.Settings>
    </userSettings>
</configuration>