<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChamCong_v06.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChamCong_v06.Properties.Settings>
            <setting name="EncryptConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="LastServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAccLogIn" serializeAs="String">
                <value />
            </setting>
            <setting name="shiftCodeCa8h" serializeAs="String">
                <value />
            </setting>
            <setting name="kyHieuCCCa8h" serializeAs="String">
                <value />
            </setting>
            <setting name="MoTaCaTuDo" serializeAs="String">
                <value />
            </setting>
        </ChamCong_v06.Properties.Settings>
    </userSettings>
</configuration>