<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HTQLTTKH.Properties.StaticSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HTQLTTKH.Properties.LastState" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HTQLTTKH.ManagerName" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HTQLTTKH.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HTQLTTKH.Properties.StaticSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HTQLTTKH.StaticSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HTQLTTKH.Properties.Settings.WiseEyeV5ExpressConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=WiseEyeV5Express;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <HTQLTTKH.Properties.StaticSetting>
      <setting name="_10phut" serializeAs="String">
        <value>00:10:00</value>
      </setting>
    </HTQLTTKH.Properties.StaticSetting>
    <HTQLTTKH.Properties.LastState>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseUserLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="UserLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="g1_NgayBD" serializeAs="String">
        <value />
      </setting>
      <setting name="g1_NgayKT" serializeAs="String">
        <value />
      </setting>
    </HTQLTTKH.Properties.LastState>
    <HTQLTTKH.ManagerName>
      <setting name="GiamDoc" serializeAs="String">
        <value>Lê Anh Tuấn</value>
      </setting>
      <setting name="PhoGiamDoc" serializeAs="String">
        <value>Nguyễn Chí Tân</value>
      </setting>
      <setting name="KeToanTruong" serializeAs="String">
        <value>Nguyễn Quốc Thái</value>
      </setting>
      <setting name="NguoiLapBieuKetCong" serializeAs="String">
        <value />
      </setting>
      <setting name="NguoiLapBieuKetLuong" serializeAs="String">
        <value />
      </setting>
    </HTQLTTKH.ManagerName>
    <HTQLTTKH.Settings1>
      <setting name="Setting" serializeAs="String">
        <value>A</value>
      </setting>
    </HTQLTTKH.Settings1>
  </userSettings>
  <applicationSettings>
    <HTQLTTKH.Properties.StaticSetting>
      <setting name="LoaiVang_H" serializeAs="String">
        <value>H</value>
      </setting>
      <setting name="LoaiVang_PT" serializeAs="String">
        <value>PT</value>
      </setting>
      <setting name="LoaiVang_CT" serializeAs="String">
        <value>CT</value>
      </setting>
      <setting name="LoaiVang_Ro" serializeAs="String">
        <value>Ro</value>
      </setting>
      <setting name="LoaiVang_BH" serializeAs="String">
        <value>BH</value>
      </setting>
      <setting name="LoaiVang_TS" serializeAs="String">
        <value>TS</value>
      </setting>
      <setting name="LoaiVang_P" serializeAs="String">
        <value>P</value>
      </setting>
      <setting name="LoaiVang_PTDT" serializeAs="String">
        <value>PTDT</value>
      </setting>
      <setting name="LoaiVang_CV" serializeAs="String">
        <value>CV</value>
      </setting>
    </HTQLTTKH.Properties.StaticSetting>
    <HTQLTTKH.StaticSetting>
      <setting name="LoaiVang_H" serializeAs="String">
        <value>H</value>
      </setting>
      <setting name="LoaiVang_PT" serializeAs="String">
        <value>PT</value>
      </setting>
      <setting name="LoaiVang_CT" serializeAs="String">
        <value>CT</value>
      </setting>
      <setting name="LoaiVang_Ro" serializeAs="String">
        <value>Ro</value>
      </setting>
      <setting name="LoaiVang_BH" serializeAs="String">
        <value>BH</value>
      </setting>
      <setting name="LoaiVang_TS" serializeAs="String">
        <value>TS</value>
      </setting>
      <setting name="LoaiVang_P" serializeAs="String">
        <value>P</value>
      </setting>
      <setting name="LoaiVang_PTDT" serializeAs="String">
        <value>PTDT</value>
      </setting>
      <setting name="LoaiVang_CV" serializeAs="String">
        <value>CV</value>
      </setting>
    </HTQLTTKH.StaticSetting>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>