CREATE TABLE [dbo].[CIO] (
  [ID] int IDENTITY(1, 1) NOT NULL,
  [NgayCong] datetime NOT NULL,
  [UserEnrollNumber] int NOT NULL,
  [Vao] int CONSTRAINT [DF__CIO__Vao__2A363CC5] DEFAULT -1 NULL,
  [Ra] int CONSTRAINT [DF__CIO__Ra__2B2A60FE] DEFAULT -1 NULL,
  [MayVao] int CONSTRAINT [DF__CIO__MayVao__2C1E8537] DEFAULT -1 NULL,
  [MayRa] int CONSTRAINT [DF__CIO__MayRa__2D12A970] DEFAULT -1 NULL,
  [BDLV] int CONSTRAINT [DF__CIO__BDLV__2E06CDA9] DEFAULT -1 NULL,
  [KTLVTrongCa] int CONSTRAINT [DF__CIO__KTLVTrongCa__2EFAF1E2] DEFAULT -1 NULL,
  [KTLV] int CONSTRAINT [DF__CIO__KTLV__2FEF161B] DEFAULT -1 NULL,
  [BDLVCa3] int CONSTRAINT [DF__CIO__BDLVCa3__30E33A54] DEFAULT -1 NULL,
  [KTLVCa3] int CONSTRAINT [DF__CIO__KTLVCa3__31D75E8D] DEFAULT -1 NULL,
  [TreVR] int CONSTRAINT [DF__CIO__TreVR__32CB82C6] DEFAULT 0 NULL,
  [SomVR] int CONSTRAINT [DF__CIO__SomVR__33BFA6FF] DEFAULT 0 NULL,
  [VaoSauCa] int CONSTRAINT [DF__CIO__VaoSauCa__34B3CB38] DEFAULT 0 NULL,
  [RaTruocCa] int CONSTRAINT [DF__CIO__RaTruocCa__35A7EF71] DEFAULT 0 NULL,
  [SoPhutXacNhanNgoaiGio] int CONSTRAINT [DF__CIO__SoPhutXacNh__46D27B73] DEFAULT 0 NOT NULL,
  [ChoPhepTreVR] bit CONSTRAINT [DF__CIO__CoTreVR__369C13AA] DEFAULT 0 NOT NULL,
  [ChoPhepSomVR] bit CONSTRAINT [DF__CIO__CoSomVR__379037E3] DEFAULT 0 NOT NULL,
  [CongTrongGio] real CONSTRAINT [DF__CIO__CongTrongGi__3E3D3572] DEFAULT 0 NOT NULL,
  [CongNgoaiGio] real CONSTRAINT [DF__CIO__CongNgoaiGi__3F3159AB] DEFAULT 0 NOT NULL,
  [TruCongTre] real CONSTRAINT [DF__CIO__TruCongTre__43F60EC8] DEFAULT 0 NOT NULL,
  [TruCongSom] real CONSTRAINT [DF__CIO__TruCongSom__44EA3301] DEFAULT 0 NOT NULL,
  [DinhMucCong] real CONSTRAINT [DF__CIO__DinhMucCong__45DE573A] DEFAULT 0 NOT NULL,
  [GhiChu] nvarchar(1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  [LyDo] varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CONSTRAINT [PK__CIO__3214EC27284DF453] PRIMARY KEY CLUSTERED ([ID])
)
ON [PRIMARY]
GO

EXEC sp_addextendedproperty 'MS_Description', N'Int, quy doi thanh so phut trong ngay. VD: 60 ~ 1g sang, 120 ~ 2g sang', 'schema', 'dbo', 'table', 'CIO', 'column', 'Vao'
GO