<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,      log4net"/>

      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChamCong_v03.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="c:\\Program Files\\PhanMemChamCong\\log1.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <category name="testApp.LoggingExample">
      <priority value="ALL"/>
    </category>
  </log4net>
    <userSettings>
        <ChamCong_v03.Properties.Settings>
            <setting name="TGLamDemToiThieu" serializeAs="String">
                <value>02:00:00</value>
            </setting>
            <setting name="PCTangCuong" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PCDem" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ConnectionStringPath" serializeAs="String">
                <value>C:\Program Files\PhanMemChamCong\Setting.txt</value>
            </setting>
            <setting name="PC100" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PC200" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PC160" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="strTenPGD" serializeAs="String">
                <value>Trần Hồng Sơn</value>
            </setting>
            <setting name="strTruongBoPhan" serializeAs="String">
                <value>Trưởng bộ phận</value>
            </setting>
            <setting name="strLapBieu" serializeAs="String">
                <value>Lập biểu</value>
            </setting>
            <setting name="strPGD" serializeAs="String">
                <value>PHÓ GIÁM ĐỐC</value>
            </setting>
            <setting name="strGD" serializeAs="String">
                <value>GIÁM ĐỐC</value>
            </setting>
            <setting name="strTenGD" serializeAs="String">
                <value>Lê Anh Tuấn</value>
            </setting>
        </ChamCong_v03.Properties.Settings>
    </userSettings>
</configuration>